<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- css lines -->
    <style>
      #frame{
        width: 500px;
        height: 100%;
        margin: 0 auto;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        background-color: rgba(0,0,0,0.7);
      }
      #fixed{
        position: fixed;
        bottom: 0;
        right: 0;
        width: 200px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        background-color: rgba(0,0,0,0.7);
      }
      @import url("https://fonts.googleapis.com/css?family=Merriweather");
      body {
        background-repeat : repeat;
        background-image: url('/static/images/bg.png');
        color: #f2f2f2;
        background-color: #0D324D;
        text-align: center;
      }

      .btn {
        padding: 10px 15px;
        font-size: 15px;
        cursor: pointer;
        position: relative;
        border: 2px solid white;
        outline: none;
        color: white;
        background-color: transparent;
        margin: 20px;
        font-family: 'Merriweather', serif;
        white-space: nowrap;
      }
      .btn--border::after, .btn--border::before,
      .btn--border span::after,
      .btn--border span::before {
        content: "";
        position: absolute;
        background-color: white;
        transition: 0.5s ease;
      }
      .btn--border::after, .btn--border::before {
        height: 100%;
        width: 2px;
        top: -2px;
      }
      .btn--border::after {
        left: -2px;
      }
      .btn--border::before {
        right: -2px;
      }
      .btn--border span::after,
      .btn--border span::before {
        height: 2px;
        width: 100%;
        left: -2px;
      }
      .btn--border span::after {
        top: -2px;
      }
      .btn--border span::before {
        bottom: -2px;
      }
      .btn--border:hover:after {
        transform: translatex(-12px);
      }
      .btn--border:hover:before {
        transform: translatex(12px);
      }
      .btn--border:hover span::after {
        transform: translatey(-12px);
      }
      .btn--border:hover span::before {
        transform: translatey(12px);
      }
      .btn--swap span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 10px 15px;
        font-size: 15px;
        box-sizing: border-box;
        opacity: 0;
        color: black;
        transition: 0.35s ease;
      }
      .btn--swap::before {
        content: "";
        left: 0;
        top: 0;
        position: absolute;
        width: 0;
        height: 100%;
        background-color: white;
        transition: 0.5s ease;
      }
      .btn--swap:hover:before {
        width: 100%;
      }
      .btn--swap:hover span {
        opacity: 1;
      }
      .btn--future::after, .btn--future::before {
        content: "";
        position: absolute;
        border: 2px solid white;
        width: calc(100% + 15px);
        height: 40px;
        transition: 0.5s ease;
      }
      .btn--future::after {
        top: -15px;
        left: -15px;
        border-right: none;
        border-bottom: none;
      }
      .btn--future::before {
        bottom: -15px;
        right: -15px;
        border-left: none;
        border-top: none;
      }
      .btn--future:hover:after, .btn--future:hover:before {
        width: calc(100% - 30px);
        height: 60px;
      }
      .itemBox {
          border: solid 2px #222222;
          border-radius: 5px;
          width:480px;
          height:200px;
          padding:10px;
          margin-bottom:10px;
          background-color:rgba(153,153,153,0.8);
      }
      .deleteBox{
          display: none;
      }
      .itemBox:hover .deleteBox{
          display: block;
      }
      .successBox{
          display: none;
      }
      .itemBox:hover .successBox{
          display: block;
      }
      .itemBoxHighlight {
          border: solid 2px #FFFFFF;
          border-radius: 5px;
          width:480px;
          height:200px;
          padding:10px;
          margin-bottom:10px;
          background-color:rgba(153,153,153,0.8);
      }
      .deleteBox {
          float:right;
          display:none;
          cursor:pointer;
      }
      .successBox {
          float:right;
          display:none;
          cursor:pointer;
      }
      text {
  			padding: 10px;
  			font-size: 16px;
  			resize: none;
  		}
      textarea {
        height: 110px;
  			padding: 10px;
  			box-sizing: border-box;
  			border: solid 2px rgba(90,90,90,0.8);
  			font-size: 16px;
  			resize: none;
  		}
      p{
        margin:5px;
        padding:5px;
        font-size: 27px;
      }
    </style>
    <style>
      #sortable { list-style-type: none; margin: 0; padding: 0; width: 400px; }
      #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
      #sortable li span { position: absolute; margin-left: -1.3em; }
    </style>
    <script type="text/javascript">
      //check error
      var err="<%=err%>";
      if(err.trim()!=""){
        if(err.trim()=='already login')
          alert("이미 로그인 되어있습니다");
          else if(err.trim()=='not login')
          alert("로그인을 해주세요");
        else{
            alert("잘못된 접근입니다");
        }
      }
      //change color of loaded itembox
      /*
        default color: white
        if success, color change rgba(150,180,150,0.8)
        else if deadline over, color change rgba(250,150,150,0.8)
      */
      function failure(box){
        var item="<p>"+$(box).find('[name=title]').val()+"</p>";
        return item;
      }
      $(window).load(function(){
        $(".itemBox").each(function(i, box) {
          if($(box).find('[name=check]').val()=='true'){
            if($(box).find('[name=todo]').val()<formatDate()){
              $(box).css("background-color",'rgba(250,100,100,0.8)');
              if($(box).find('[name=success]').val()=='false'){
                $(failure(box)).appendTo("#fixed_body");
              }
            }
          }
          if($(box).find('[name=success]').val()=='true'){
            $(box).css("background-color",'rgba(100,180,100,0.8)');
          }
        });
      });
      //sense a click of successbox and change background
      /*
        default color: white
        if success, color change rgba(150,180,150,0.8)
        else if deadline over, color change rgba(250,150,150,0.8)
      */
      $(document).on("click",".successBox",function(){
        if($(this).parent().find('[name=success]').val()=='true'){
          if($(this).parent().find('[name=check]').val()=='true'){
            if($(this).parent().find('[name=todo]').val()<formatDate()){
              $(this).parent().css("background-color",'rgba(250,100,100,0.8)');
            }else{
              $(this).parent().css("background-color",'rgba(153,153,153,0.8)');
            }
          }else{
            $(this).parent().css("background-color",'rgba(153,153,153,0.8)');
          }
          $(this).parent().find('[name=success]').val('false');
        }else{
          $(this).parent().css("background-color",'rgba(100,180,100,0.8)');
          $(this).parent().find('[name=success]').val('true');
        }
      });
      //sense a click of fixed div
      $(document).on("click","#fixed_close",function() {
        $("#fixed_body").fadeToggle("slow","linear");
      });
      //sense a click of deletebox and delete itembox
      $(document).on("click",".deleteBox",function() {
        var valueCheck = false;
        $(this).parent().find('textarea').each(function() {
          if($(this).attr("name") != "type" && $(this).val() != '') {
            valueCheck = true;
          }
        });
        if(valueCheck) {
          var delCheck = confirm('입력하신 내용이 있습니다.\n삭제하시겠습니까?');
        }
        if(!valueCheck || delCheck == true) {
          $(this).parent().remove();
          reorder();
        }
      });
      //sense a change of checkbox and change date input show or hide
      $(document).on("change","input[name=check]",function(){
        if($(this).is(":checked")){
          $(this).val("true");
          $(this).parent().find("input[name=todo]").show();
          if($(this).parent().find('[name=todo]').val()<formatDate()){
            $(this).parent().parent().css("background-color",'rgba(250,100,100,0.8)');
          }else{
            $(this).parent().parent().css("background-color",'rgba(153,153,153,0.8)');
          }
        }else{
          $(this).val("false");
          $(this).parent().find("input[name=todo]").hide();
          $(this).parent().parent().css("background-color",'rgba(153,153,153,0.8)');
        }
        if($(this).parent().parent().find('[name=success]').val()=='true'){
          $(this).parent().parent().css("background-color",'rgba(100,180,100,0.8)');
        }
      });
      //return today date
      function formatDate() {
        var d = new Date();
        var month = '' + (d.getMonth() + 1);
        var day = '' + d.getDate();
        var year = d.getFullYear();
        if (month.length < 2){
          month = '0' + month;
        }
        if (day.length < 2){
          day = '0' + day;
        }
        return [year, month, day].join('-');
      }
      //make hiddenField to submit and append form
      function makeInput(name,value) {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", name);
        hiddenField.setAttribute("value", value);
        return hiddenField;
      }
      //make form from itemboxs and submit
      /*
        user: String
        timestamp: String
        title: list
        content: list
        success: list
        check: list
        todo: list
      */
      function submitItem() {
        if(!validateItem()) {
        	return;
        }else{
          var leng = $(".itemBox").length;
          var user='<%=Id%>';
          var timestamp=formatDate();
          var title = [];
          var content = [];
          var success = [];
          var check = [];
          var todo = [];
          for(var i = 0;i < leng; i++){
            title.push($("input[name=title]")[i].value);
            content.push(($("textarea[name=content]")[i].value==null)?"":$("textarea[name=content]")[i].value);
            success.push($("input[name=success]")[i].value);
            check.push($("input[name=check]")[i].value);
            todo.push($("input[name=todo]")[i].value);
          }
          var form = document.createElement("form");
          form.setAttribute("charset", "UTF-8");
          form.setAttribute("method", "Post"); // Get 또는 Post 입력
          form.setAttribute("action", "/upload");
          form.appendChild(makeInput("user",user));
          form.appendChild(makeInput("timestamp",timestamp));
          form.appendChild(makeInput("title",title));
          form.appendChild(makeInput("content",content));
          form.appendChild(makeInput("success",success));
          form.appendChild(makeInput("check",check));
          form.appendChild(makeInput("todo",todo));
          document.body.appendChild(form);
          form.submit();
        }
        alert("등록");
      }
      //check validate when save todo-list
      //if there is not title, can't save todo-list
      function validateItem() {
        var items = $("input[type='text'][name='title']");
        if(items.length == 0) {
          return true;
        }
        var flag = true;
        for(var i = 0; i < items.length; i++) {
          if($(items.get(i)).val().trim() == "") {
            flag = false;
            alert("내용을 입력하지 않은 항목이 있습니다.");
            break;
          }
        }
        return flag;
      }
      //sortable function in jquery UI
      $(function() {
        $("#itemBoxWrap").sortable({
          placeholder:"itemBoxHighlight",
          start: function(event, ui) {
            ui.item.data('start_pos', ui.item.index());
          },
          stop: function(event, ui) {
            var spos = ui.item.data('start_pos');
            var epos = ui.item.index();
    			  reorder();
          }
        });
        $( "#sortable" ).sortable();
        $( "#sortable" ).disableSelection();
      });
      //reorder when create, delete, sortable
      function reorder() {
        $(".itemBox").each(function(i, box) {
          $(box).find(".itemNum").html(i + 1);
        });
      }
      //create new todo item
      function createItem() {
        $(createBox())
        .appendTo("#itemBoxWrap")
        .append("<div class='successBox'>[달성]</div>")
      	.append("<div class='deleteBox'>[삭제]</div>");
        reorder();
      }
      function createBox() {
        var contents = "<div class='itemBox' >"
                     + "<div style='float:left;'>"
                     + "<span class='itemNum'></span> "
                     + "<input type='hidden' name='success' value='false'>"
                     + "제목 :<input type='text' name='title' "
                     + "style='width:350px; box-sizing: border-box; border: solid 2px rgba(90,90,90,0.8); border-radius: 5px;'>"
                     + "<br><br><textarea name='content' style='width:480px;'></textarea>"
                     + "TODO<input type='checkbox' name='check' value='true' checked='true'>"
                     + "<input type='date' name='todo' value='1995-01-01'>"
                     + "</div>"
                     + "</div>";
        return contents;
      }
    </script>
  </head>
  <body>
    <div id="frame">
      <h1 style="font-size:60px;"><%= title %></h1>
      <!-- check login -->
      <% if( !nickname ) { %>
        <p>로그인을 해주세요.</p>
        <button class="btn btn--future" onclick = "location.href = '/login' ">로그인</button>
        <button class="btn btn--border" onclick = "location.href = '/sign' ">회원가입<span></span></button>
      <% } else { %>
        <p>안녕하세요. <%= nickname %>님</p>
        <button class="btn btn--swap" onclick = "location.href = '/logout' ">로그아웃<span>로그아웃</span></button>
      <% } %>
      <div>
        <!-- service only login user -->
        <div style="float:left;width:250px;font-size:40px;">TODO-list : </div>
        <div style="clar:both;">
          <% if( nickname ) { %>
            <button class="btn btn--future" id="addItem" onclick = "createItem()">추가</button>
            <button class="btn btn--border" id="submitItem" onclick = "submitItem()">저장<span></span></button>
          <% } else { %>
            <p>로그인시 이용 가능</p>
          <% } %>
        </div>
      </div>
      <br/>
      <div id="itemBoxWrap">
        <!-- itemboxs -->
        <!-- load from realm data -->
        <% if( nickname ) {
          for(var i = 0;i < data.length; i++){%>
            <div class='itemBox'>
              <div style='float:left;'>
                <span class='itemNum'></span>
                <input type='hidden' name='success' value='<%=data[i].success%>'>
                제목 : <input type='text' name='title' value='<%=data[i].title%>'
                  style='width:350px; box-sizing: border-box; border: solid 2px rgba(90,90,90,0.8); border-radius: 5px;'>
                <br><br><textarea name='content' style='width:480px;'><%=data[i].content%></textarea>
                TODO
                <% if(data[i].check=='true'){%>
                  <input type='checkbox' name='check'checked='<%=data[i].check%>'value= '<%=data[i].check%>' >
                  <input type='date'  name='todo' value= '<%=data[i].todo%>'>
                <%}else{%>
                  <input type='checkbox' name='check' value= '<%=data[i].check%>' >
                  <input type='date'  name='todo' value= '<%=data[i].todo%>' style="display:none;">
                <%}%>
              </div>
              <div class="successBox">[달성]</div>
              <div class="deleteBox">[삭제]</div>
            </div>
          <%}
        } %>
      </div>
    </div>
    <% if( nickname ) { %>
      <div id="fixed">
        <div id="fixed_head" style="width:80px; height:22px;float:left;">deadline</div>
        <div id="fixed_close" style="width:50px; height:22px;float:right;">[click]</div>
        <div id="fixed_body"><br></div>
      </div>
    <%}%>
  </body>
</html>
